.navigation__list {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 10px;
  scrollbar-width: none;
  display: flex;
  justify-content: left;
}

.desctop__login{
  padding: 8px 16px;
  background-color: #f3f3f7;
  border: 0px;
  color: black;
  border-radius: 9999px;
  font-weight: 500;
}